<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>게시판 페이지</title>
</head>
<body>
<h3 align="center">게시판 목록 페이지입니다.</h3>

<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
  <tr>
    <td bgcolor="pink">게시판 이름</td>
  </tr>
  <tr th:each="list : ${boardList}">
    <td ><a th:href="/getPost?"+${list.id} th:text="${list.name}"></a></td>
  </tr>
</table>

<form th:action="postBoard" method="post">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
  <tr>
    <td bgcolor="skyblue">게시판 추가</td>
  </tr>
  <tr>
    <td><input name="name" type="text" size="10" /></td>
  </tr>
  <tr>
    <td><input type="submit" value="게시판 추가"/></td>
  </tr>
</table>
</form>
</body>
</html>